// define colors for reuse
$color-dark-blue: #001126;
$color-blue: #34bbff;

$color-dark-cyan: #00212d;
$color-cyan: #15aa93;
$color-light-cyan: #64f6ff;
$color-cyan-opacity: rgba(0, 63, 56, .7);

$color-dark-green: #003d38;

$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, .33);

$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, .5);

$color-gray: #6f6f6f;
$color-light-gray: #b6b6b6;
$color-gray-opacity: rgba(128, 128, 128, 0);

$color-pink: #d55393;

$color-dark-purple: #564d7b;
$color-purple: #643daa;