.menu-item-wrapper.active {
    border: none !important;
    outline: none !important;
}
.menu-item-wrapper:active {
    outline: none !important;
}

.menu-item-wrapper {
    outline: none !important;
}
