.intro-page {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  .show-bg {
    opacity: 1 !important;
  }

  .__shadow-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f8f8f8;
    pointer-events: all;
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
}

.bg-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
