.outline-btn {
  padding: 1.5rem 3.5rem !important;
  font-size: 1.3rem !important;
  outline: none !important;
  border-width: 3px !important;

  &:active,
  &:focus,
  &:hover {
    &:enabled {
      background-color: transparent !important;
      background: transparent !important;
    }
  }
}

.primary-btn {
  padding: 1.5rem 3.5rem !important;
  font-size: 1.3rem !important;
  color: white !important;
  outline: none !important;
}

.ripple-btn {
  border-radius: 20px;
  position: unset;
}

.btn-click--active {
  transition: all 0.3s ease-out;
  &:active {
    transform: scale(0.8);
  }
}
